/* src/components/GraphEditor/NodePropertyPanel.module.css */
.panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background: #0e0e1c;
    border-left: 1px solid #1a1a2e;
    padding: 12px 10px;
    overflow-y: auto;
    font-family: "JetBrains Mono", monospace;
    font-size: 11px;
    color: #c0c0d8;
    z-index: 10
}

.lbl {
    display: block;
    color: #50507a;
    font-size: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 8px 0 3px;
}

.inp {
    width: 100%;
    background: #080814;
    border: 1px solid #1e1e30;
    color: #c0c0d8;
    font-family: "JetBrains Mono", monospace;
    font-size: 10px;
    padding: 5px 7px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.actBtn {
    background: transparent;
    font-family: "JetBrains Mono", monospace;
    font-size: 9px;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.actBtnGreen {
    border-color: #22c55e;
    color: #22c55e;
}

.actBtnRed {
    border-color: #ef4444;
    color: #ef4444;
}

.actBtnYellow {
    border-color: #f59e0b;
    color: #f59e0b;
}

.actBtnBlue {
    border-color: #3b82f6;
    color: #3b82f6;
}

.iconBtn {
    background: transparent;
    border: none;
    color: #50507a;
    cursor: pointer;
    font-size: 11px;
    padding: 0 2px;
}

.iconBtnRed {
    color: red;
}

.inpStyle {
    width: 100%;
    background: #080814;
    border: 1px solid #1e1e30;
    color: #c0c0d8;
    font-family: "JetBrains Mono", monospace;
    font-size: 10px;
    padding: 5px 7px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 2px;
    box-sizing: border-box;
}